 
.a4-paper {
width: 210mm;
height: 297mm;
padding: 10mm;
background-color: whitesmoke;
border: 2px solid silver;
}
body {background-color: bisque;}

.white-label {
    width: 210mm;
    height: 10mm;
    padding: 2mm;
    background-color: whitesmoke;
    border: 2px solid silver;
    margin-bottom: 2mm;
}
